.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2b4242;
  height: 150px;
  padding: 20px;
  color: rgb(240, 210, 56);
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*styles for userRowComponent*/
.avatarImg{
  height: 80px;
  width: 80px;
  float: left;
}
.userName{
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}
.nickName{
  text-align: left;
  font-size: 1em;
}
